  body{
  	background-color: #D3D3D3;
  	margin: 10px;
  	font-size: 20px;
  	text-align: center;
  	cursor: url(./pictures/pizza.png), auto;
  }

  * {
	font-family: Verdana, Arial, Serif;
	}

  h1
  	{
  	font-family: Arial, sans-serif;
  	text-align: center;
  	}

  h2{
  	text-align: center;
  }

  .about-pic{
  	height: 100%;
  	width: 75%;
  	margin: 40px;
  }

  .blurb{
  	font-family: Arial, sans-serif;
  	width: 100%;
  	border: 2px bold black;
  	font-size: 36px;
  	padding: 5px;
  }

  .boxed{
    background-color: #94cfcd;
    padding: 10px;
    color: #808080;
    font-size: 20px;
    text-align: center;
    margin: 0px;
  }

  .about-tiramisu{
    height: 100%;
    width: 100%;
    margin: 0px
  }

.ingredients{
  text-align: left;
}

.recipe{
  text-align: left;
}

.btn-facebook{
	background-color: #3b5998;
	color: white;
	border-radius: 20%
}

.btn-twitter{
	background-color: #4099ff;
	border-radius: 20%
}

.btn-pinterest{
	background-color: #c8232c;
	color: white;
	border-radius: 20%
}
