
* {
	font-family: Verdana, Arial, Serif;
	}

h1
	{
	font-family: Arial, sans-serif;
	text-align: center;
	}

h2{
	text-align: center;
}

.blurb
	{
		font-family: Arial, sans-serif;
		width: 100%;
		border: 2px bold black;
		font-size: 26px;
		padding: 5px;
		text-align: center;
	}

.contact-us
{
	margin-left: 10px;
}
