body{
	background-color: #D3D3D3;
}

* {
	font-family: Verdana, Arial, Serif;
	}

.we{
	text-align: center;
	color: #808080;
	width: 60%;
}

h1
	{
	font-family: Arial, sans-serif;
	text-align: center;
	}

h2{
	text-align: center;
}

.about-pic{
	height: 300px;
	width: 75%;
	margin: 40px;
}

.blurb
	{
		font-family: Arial, sans-serif;
		width: 100%;
		border: 2px bold black;
		font-size: 36px;
		padding: 5px;
	}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #111;
}

.navbar .active {
	background-color: #94cfcd;
}

.navbar ul li.float-right {
	float: right;
}

@media screen (max-width: 600px) {
	.navbar ul li.float-right, .navbar li {float: none;}
}

.navbar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: #94cfcd;
}

.navber li.dropdown {
    position: relative;
    display: inline-block;
}

.navbar .dropdown-content {
    display:none;
    position: relative;
    top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar .dropdown-content a:hover 
{background-color: #f1f1f1}

.navbar .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;


.boxed{
	background-color: #94cfcd;
	padding: 10px;
	color: #808080;
	font-size: 26px;
	text-align: center;
	margin: 0px;
	vertical-align: center;
}

.mission{
	width: 60%;
}

.row{
	margin: 10px;
}
>>>>>>> origin/master
.contact-us
{
	margin-left: 10px;
}

.social-buttons{
}

.btn-facebook{
	background-color: #3b5998;
	color: white;
}

.btn-twitter{
	background-color: #4099ff;
}

.btn-pinterest{
	background-color: #c8232c;
	color: white;
}

.follow-us{
	colour: #808080;
	font-size: 26px;
	text-align: center;

}
